@import 'tailwindcss';


@theme {
  --font-display: "Poppins", "sans-serif";

  --color-marron: #331F06;
  --color-dore: #EEC056;
  --color-orange: #F35228;
  --color-rose: #F6A2BF;
  --color-vert: #057B61;
  --color-beige: #FFF1EE;
  --color-bleu: #0C1F58;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  /* ... */
}

@layer components {
  .titre {
    @apply text-4xl font-bold text-bleu ;
  }
  .button{
    @apply bg-orange text-white px-20 py-2.5 rounded-full text-lg w-fit font-semibold hover:bg-orange/80 hover:cursor-pointer;
  }
}